$font-grey: #4c4c4c;
.app-header-padding{
  padding: 0px 40px;
}
.app-caption-left-slide-mainpage{
  left: 5%!important;
}
.app-caption-right-slide-mainpage{
  right: 0!important;
}
.background-white{
  background-color: white!important;
}
.app-title-name{
  color: $font-grey;
  font-weight: 500;
  font-size: 38px;
}
.app-title-content{
  color: $font-grey;
  font-size: 30px;
}
